.listItem{
  background-color: rgba(0, 0, 0, 0.5);
}

.nameFilm>h5{
  color: yellow;
}
.nameFilm>div{
  color: yellow;
}

.starFilm{
  border-left: 1px solid silver;
}

.star {
  height: 40px;
  width: 40px;
  margin: 10px auto;
}
.star>img {
  height: 100%;
  width: 100%;
}

.tags{
  background-color: rgba(34, 136, 252, 0.473);
  box-shadow: 0 0 5px rgb(34, 136, 252);
  border-radius: 5px;
  margin-right: 5px;
  padding: 0 5px;
}

@media(max-width: 760px){
  .starFilm{
    border-left: none;
    border-bottom: 1px solid silver;
  }
}