.header{
  background-color: rgb(0, 0, 0) !important;
}
.navLinks{
  color: rgb(34, 136, 252) !important;
  text-shadow: 0 0 4px rgb(34, 136, 252);
  margin-right: 30px;
  font-weight: 600;
}
.navLinks:hover{
  color: rgb(217, 255, 5) !important;
  text-shadow: 0 0 4px rgb(217, 255, 5);
  text-decoration: none;
}